{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}-MaxFax{% endblock %}

{% block extra_nav %}
    <nav class="navbar navbar-default" role="navigation">
    <div class="container">
    {% for ylabel in filter_keys %}
        <a class="btn navbar-btn navbar-left {% if year == ylabel %}active{% endif %}" 
           href="{% url 'browse_by_year' year=ylabel %}">
           {{ ylabel }}
        </a>
    {% endfor %}
    </div>
    </nav>
{% endblock %}

<div class="container">    
{% block header_text %}MaxFax{% endblock %}
    
{% block main_content %}

    <h3>MaxFax Archive for {{ year }}</h3>
    {% for newsletter in newsletters %}
        <div class="col-md-2">
        <a href="{% static 'contents' %}/{{ newsletter.pdf }}" target="_new">
            {{ newsletter.name }}<br/>
            <img src="{% static 'contents' %}/{{ newsletter.cover }}" width="150" alt="Cover" title=""><br/>
        </a>
        {{ newsletter.description }}<br/>
        <br/>
        </div>
    {% empty %}
        <div class="col-md-2">
        Sorry, no issues found for {{ year }}
        </div>
    {% endfor %}
    </div>

{% endblock %}
