{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}-MaxFax{% endblock %}

{% block header_text %}MaxFax{% endblock %}

{% block extra_nav %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
{% for ylabel in filter_keys %}
        <li {% if year == ylabel %}class = "active"{% endif %}>
          <a href="{% url 'browse_by_year' year=ylabel %}">{{ ylabel }}</a>
        </li>
{% endfor %}
      </ul>
    </div>
  </nav>
{% endblock %}
    
{% block main_content %}

    <h3>Archive for {{ year }}</h3>
    <div class="row">
    {% for newsletter in newsletters %}
        <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
            <br/>
            <a href="{% static 'contents' %}/{{ newsletter.pdf }}" target="_new">
                <img src="{% static 'contents' %}/{{ newsletter.cover }}" width="150" alt="Cover" style="border:2px solid grey"><br/>
            </a>
            <div class="caption">
                <a href="{% static 'contents' %}/{{ newsletter.pdf }}" target="_new">
                    <h4>{{ newsletter.name }}</h4>
                </a>
                <p>Contents: {{ newsletter.description }}</p>
            </div>
        </div>
        </div>
    {% empty %}
        <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
        Sorry, no issues found
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
