{% extends 'base.html' %}

{% block page_title %}-Events{% endblock %}

{% block header_text %}Coming Events{% endblock %}

{% block main_content %}
<table id="id_events_table" class="table">
{% for item in events_by_month %}
    <tr><td>
    <h4>{{ item.0 }}</h4> <!-- the month name -->
    {% if item.1 %}
      <div class="container-fluid">
        {% for event in item.1 %}
            <strong><a href="{{ event.flyer }}" target=_new>{{ event.name }}</a></strong><br/>
            <table>
            <tr><td>
            Date:</td><td> {{ event.date }} 
            {% if event.end_date %}
            - {{ event.end_date }}
            {% endif %}
            </td></tr>
            <tr><td>Location:&nbsp</td><td>{{ event.location }}</td></tr>
            
            <tr><td>Contact:</td>
            <td>
            {% if event.contact_email and event.contact_phone %}
                <a href="mailto:{{ event.contact_email }}">{{ event.contact_name }}</a>, {{ event.contact_phone }}
            {% else %}
                {% if event.contact_email  %}
                    <a href="mailto:{{ event.contact_email }}">{{ event.contact_name }}</a>
                {% elif event.contact_phone  %}
                    {{ event.contact_name }}, {{ event.contact_phone }}
                {% else %}
                    {{ event.contact_name }}
                {% endif %}
            {% endif %}</td></tr>
            </table>
            <br/>
          
        {% endfor %}
      <div>
    {% endif %}
    </td></tr>
{% endfor %}
</table>
{% endblock %}
