{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}-Announcements{% endblock %}

{% block header_text %}Announcements{% endblock %}

{% block main_content %}
<div class="bodywrap">
<!-- List of actual announcements, each to consist of: -->
<!--
    <h4>Headline</h4>
    <p>
    Some text that describes what it is, maybe a link. When linking
    to an external site, use the target="_new" attribute.
    End this block with a horizontal rule at the bottom to separate 
    it from the next announcement in the list.
    </p>
    <hr/>
-->
<h4>2015 Non-Nats Results</h4>
    <p>
    PDF's of the winners followed by the results for each event.
	Note Hungaeron not run due to wind.
	<a href="Anno_files/2015 NON-NATS RESULTS.pdf"target="_new">Click here for results about 1 Meg.</a>
    </p>
    <hr/>
<h4>LANGLEY CONTEST RESCHEDULED</h4>
    <p>
    The DC Maxecuters have had to reschedule our planned Langley contest for <b><font color="#FF0080">12 September 2015</font></b>.  
	The grass at the field is currently too high (such is the hazzards of flying on a place with crops) 
	and between broken equipment, and rainy days it was just too uncertain whether it would be cut before 20 June.  
	I was at the field this morning and the grass is between knee high and waist high 
	(I did however enjoy seeing a Baltimore Oriole - lovely).  
	It would be great if you send me an email if you think you will come on the new date so we can warn 
	the Ferguson Foundation (who runs the site) of the level of likely participation.  
	We can open the gate for escorted rides to the field for those with limited mobility - just let me know. 
	The field is connected to a parking lot by a 1/3 long level handicap assessable boardwalk that works well for wheeled
	carts or little red wagons (there is one muddy patch at the beginning but if the rain ever stops that shouldn't be too difficult.
<br>

<a href="flyers/Langley Contest Announcement-4.pdf">CLICK HERE FOR FLYER</a>
<br>
<a href="mailto:grfreeflight@hotmail.com?subject=Langley Meet">To contact Glen Click here</a>
    </p>
    <hr/>
<h4>KUDZU 2015 RESULTS</h4>
<p>The weather was rather nice, the field was dry and the winds modrate, to no ones surprise Wally was the grandchamp.
<br>
<a href="Anno_files/KUDZU   Winners 2015.pdf">Click here to download the results. (Two pages)</a>
</p>
<hr/>

<h4>CAAMA Page Updated</h4>
<p>This long overdue revison now covers 2015 Spring, Summer, and Fall.
<a href="caama.shtml"target="_new">CAAMA Page</a> 
<br>
</p>
<hr/>

<h4>Check the Events page for WestFAC V</h4>
<hr/>
<h4>New Link to Pat's Photos</h4>
<p>
Our Ace Photographer, Pat Daily, has established a FLICKR page to augment our photo page. 
<a href="https://www.flickr.com/photos/124772115@N02/sets/"target="_new" >Pat Daily’s Photos on flickr</a>
</p>
<hr/>

<h4>The Maxecuter Gang</h4>
<p>
We get together every Tuesday at 11:30am at Mylo's Grill for lunch.<br>
<a href="http://goo.gl/maps/PF7NB" target="_new">6238 Old Dominion Dr, McLean, VA</a>
</p>
<hr/>

<h4>Club Meetings</h4>
<p>
are now at Riderwood on the first Tuesday of the month at 8pm. <a href="/meetings.shtml">Details here.</a>
</p>
<hr/>

<h4><font color="#FF0000">NEWS FLASH</font></h4>
<p>
Comet Piper Cub laser parts are now available for the one design 
contests at next years Cloudbuster's  FAC Outdoor Championships in 
September. These parts are being presented to those interested by 
Keith Sterner via a no-profit cost of $9.50 per set. This price 
includes (3) sheets of laser cut parts cut from contest grade 
4-6# 1/16 and 1/8 balsa, ‘C’ grain, includes packaging and first 
class shipping!
</p>
<p>Anyone interested, please send check or money order to: <br/>
Keith Sterner<br/>
4019 Nicholas Street<br/>
Easton, PA. 18045<br/>
</p>
<p>
<a href="plans.shtml">Plans are on the plans page</a>
</p>
<hr/>

<!--
<h4>Indoor Flying</h4>
<p> Bauer Community center is available for flying Mondays and 
Wednesdays from 12:45 to 2:15 PM during the school year. <br>
The address is <a href="http://goo.gl/maps/56YD6" target="_new">14625 Bauer Drive, Rockville, MD</a></p>
<hr/>
-->

<h4>Indoor Flying</h4>
<p>Bauer Community center idoor flying is over for the year.</p>
<hr/>

<h4>AirDale Fly-Ins for 2015</h4>
<p>
June 21, July 26, August 23, September 20, October 18<br>
 Contact John Hunton (<a href="mailto:huntonj@comcast.net">huntonj@comcast.net</a>) for directions.
</p>
<hr/>

<h4>OCTOBER 17-18 2015, OCTOBER HURRICANE MEET</h4>
Raeford, N. C.
Raeford Sod Farm<br>
Host Club: Carolina Area Free Flight Association/Kudzu Flying Corps
<br>
CD: John Diebolt 919-467-1025 
<a href="mailto:jdiebolt@mindspring.com">Click here to contact via e-mail</a>
<br>
<a href="http://www.flyingacesclub.com/15hurricane.pdf"target="_new">DOWN LOAD THE  FLYER</a>
<br>

<hr />

<h4>Piscataway National Park</h4>
<p>
I've just talked to the National Park Service about flying at Piscataway 
National Park and received permission to fly there subject to some 
restrictions.  Located in Accokeek MD the flying site is about 15 miles 
South of the Washington Beltway along the Potomac River.  It features a 
large hay field that is 4/10 to 1/2 mile long and about 1/5 mile wide.  
The hay is regularly mowed and varies in height from newly cut to knee 
high (not overly dense).  I am very excited that this gives the 
Maxecuters a local spot where we can introduce newcomers to the fun of 
flying and do your smaller field/ low power trimming.
</p>
<p>
The restrictions:
<ul>
<li>No gas-powered or noisy airplanes that would disturb other visitors or wildlife.  No motorized retrieval vehicles.</li>
<li>The NPS wants us to provide flying dates in advance and deconflict our activities with the Alice Ferguson Foundation that manages the site.  I will request frequent dates once the weather turns nicer in the Spring, with a couple trial dates this winter.</li>
<li>If the flying is expected to draw more than twenty people we need to fill out event paperwork and get higher level permission.</li>
<li>Flyers are expected to walk into the site from a small parking lot located about 4/10 mile from the hayfield.  Access for those for which walking is difficult can be arranged but requires the Ferguson Foundation people to open the gate for us.  The field is accessible to wheeled carts over the level boardwalk (think of little red wagons or gardening carts).</li>
<li>We need to clean up after ourselves and make every effort to retrieve models that might get stuck in trees.</li>
</ul>
</p>
Please let me know if you have questions or want to suggest a date to fly.<br>
<p>Glen Simpers,  D.C. Maxecuters</p>

  </div> <!--closes bodywrap -->
</div> <!--closes content -->
{% endblock %}

